<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>💩💩💩💩💩</title>
	<link rel="stylesheet" href="./index.css">
</head>
<body>
	<div id="actions">
		<select id="ddl"></select>
		<input id="value" type="text" required>
		<input id="btnAdd" type="button" value="Add">
		<input id="btnPeek" type="button" value="Peek">
		<input id="btnPoll" type="button" value="Poll">
		<!-- <input id="ckbTranfserList" type="checkbox" title="Transfer List"> -->
		<input id="btnReset" type="button" value="Reset">
		<input id="btnClear" type="button" value="🚽" title="Clear messages">
	</div>
	
	<div class="messages-container">
		<div id="messages"></div>
	</div>

	<script src="./index.ts"></script>
</body>
</html>