* {
	padding: 0;
	margin: 0;

	/* using best font */
	font-family: "Comic Sans MS", cursive, sans-serif 
}

html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: url(https://source.unsplash.com/random/1600x900) center no-repeat;
	background-size: cover;
}

#actions {
	display: flex;
	position: sticky;
	/* align-content: space-around; */
	width: 100%;
	height: 50px;
	background: black;
	align-items: center;
	box-shadow: 0 0 15px 0px rgba(0,0,0,0.5);
}

#actions > * {
	background: black;
	color: white;
}

input[type="text"] {
	background: white !important;
	color: black !important;
	padding: 5px;
	border: none;
	margin: 0 2.5px;
	border-radius: .2rem;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4) ;
}

input[type="text"]:required,
input[type="text"]:invalid {
	border: none;
	border-bottom: 2px solid red;
	outline: none;
}

input[type="button"] {
	background: rgba(255, 255, 255, 0.2) !important;
	padding: 10px;
	margin: 0 2.5px;
	display: block;
	border: none;
	border-radius: .2rem;
	cursor: pointer;
	/* height: 100%; */
}

input[type="button"]:Hover {
	background: rgba(255, 255, 255, 0.4) !important;
}

select {
	background: rgba(255, 255, 255, 0.2) !important;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
	border-radius: 3px;
	margin: 0 2.5px;
	padding: 5px;
	width: 100px;
}

select:hover {
	background: rgba(255, 255, 255, 0.4) !important;
}


.messages-container {
	display: flex;
    align-items: center;
	justify-content: center;
	height: 500px;
}

#messages > * {
	display: inline-block;
	font-family: "Consolas";
}

#messages {
	display: flex;
	flex-direction: column-reverse;
	background: black;
	color: white;
	padding: 5px;
	overflow: scroll;
	overflow-x: hidden;
	width: 700px;
	height: 400px;
	/* border-radius: .4rem; */

	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.4);

	/* scrollbar-color: rgba(255, 255, 255, 0.4) black;
	scrollbar-width: thin; */
}

p:Hover {
	background: rgba(0,0,0,0.3) !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}
