<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<select id="ddl">
	</select>

	<input id="value" type="text">
	<input id="btnAdd" type="button" value="Add">
	<input id="btnPeek" type="button" value="Peek">
	<input id="btnPoll" type="button" value="Poll">

	<ol>
		<li>test</li>
		<li>2</li>
	</ol>

	<script src="./index.ts"></script>
</body>
</html>